:root {
    --clr-primary-hsl: 0, 0%, 43%;

    --clr-primary: hsl(var(--clr-primary-hsl));
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(93, 55%, 55%);

    --font-family-default: "Montserrat", sans-serif;
    --font-family-neutral: "Barlow Condensed", sans-serif;

    --fs-100: 1rem;
    --fs-400: 1.5rem;
    --fs-600: 2rem;
    --fs-700: 3rem;

    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

span {
    font-weight: var(--fw-600);
}

li>span {
    font-style: italic;
}

.grid-flow {
    display: grid;
}

ul {
    margin-top: 1.25rem;
    margin-left: 1.25rem;
    list-style: url("https://api.iconify.design/solar:arrow-right-linear.svg") outside;
}

ul>li {
    padding: .5rem 0;
}

.grid-flow[data-spacing="small"] {
    grid-template-areas: "skills details"
        "skills nationality"
        "skills languages"
        "skills links";
    background-color: var(--clr-primary);
    color: var(--clr-neutral-100);
    margin: 0;
    padding: 0;
}

.details {
    grid-area: details;
}

.national {
    grid-area: nationality;
}

.links {
    grid-area: links;
}

.languages {
    grid-area: languages;
}

.skills {
    grid-area: skills;
}


@media (min-width: 768px) or (max-width: 400px) {
    .grid-flow[data-spacing="small"] {
        grid-template-areas: "details"
            "nationality"
            "links"
            "skills"
            "languages";
        align-items: start;
        height: fit-content;
    }
}

h1,
h2,
h3 {
    font-family: var(--font-family-neutral);
}

.main-title {
    font-size: var(--fs-600);
    font-weight: var(--fw-600);
    border-bottom: 3px solid black;
}

.sub-title {
    font-size: var(--fs-400);
    font-weight: var(--fw-500);
}

body {
    font-family: var(--font-family-default);
    font-size: var(--fs-100);
    margin: 1rem;
    line-height: 1.5;
}

main {
    max-width: 100rem;
    display: grid;
    gap: 2rem;
}

@media (min-width: 768px) {
    main {
        margin-inline: auto;
        grid-template-columns: minmax(auto, 85rem) minmax(auto, 15rem);
        grid-template-areas: "head aside" "work aside" "education aside";
    }

    header {
        grid-area: head;
    }

    .work {
        grid-area: work;
    }

    .education {
        grid-area: education;
    }

    .side-bar {
        grid-area: aside;
    }
}

.about {
    text-align: center;
    gap: .5rem;
    align-items: center;
}

@media (min-width: 992px) {
    .about {
        grid-template-areas: "photo name"
            "photo about-me";
        grid-template-columns: minmax(auto, 12rem) auto;
        text-align: left;
    }

    .photo {
        grid-area: photo;
    }

    h1 {
        grid-area: name;
        margin-left: 2rem;
    }

    .about-me {
        grid-area: about-me;
        margin-left: 2rem;
    }
}

.photo {
    max-width: 12rem;
    max-height: 12rem;
    justify-self: center;
}

h1 {
    font-size: var(--fs-700);
    font-weight: var(--fw-700);
}

.about-me {
    font-size: var(--fs-100);
    line-height: 1.5;
}

.container {
    margin-top: 1.25rem;
}

.org-name {
    font-style: italic;
    font-weight: var(--fw-500);
}

.date-exp {
    font-weight: var(--fw-600);
    color: hsl(var(--clr-primary-hsl), .6);
}

.wrapper {
    padding: .5rem;
}

.list-details {
    list-style: none;
    margin: 0;
}

.link {
    text-decoration: none;
    font-weight: var(--fw-500);
    color: var(--clr-neutral-100);
    padding: .5rem;
    transition: all .25s ease-in-out;
}

.link:first-of-type {
    margin-left: -.5rem;
}

.link:hover {
    background-color: var(--clr-neutral-100);
    color: var(--clr-primary);
}

.skill {
    margin-top: .75rem;
}

.skill-bar {
    margin-top: .25rem;
    max-width: 12.5rem;
    height: .25rem;
    background-color: var(--clr-neutral-100);
    overflow: hidden;
}

.skill-fill {
    height: 100%;
    background-color: var(--clr-neutral-200);

    &:is([name="office"]) {
        width: 70%;
    }

    &:is([name="api"]) {
        width: 15%;
    }

    &:is([name="testing"]) {
        width: 90%;
    }

    &:is([name="sql"]) {
        width: 25%;
    }

    &:is([name="python"]) {
        width: 45%;
    }

    &:is([name="html_css"]) {
        width: 55%;
    }

    &:is([name="js"]) {
        width: 25%;
    }

    &:is([name="player"]) {
        width: 90%;
    }

    &:is([name="communication"]) {
        width: 70%;
    }

    &:is([name="ua"]) {
        width: 99%;
    }

    &:is([name="en"]) {
        width: 60%;
    }
}