:root {
    --clr-primary-hsl: 231, 7%, 60%;
    --clr-neutral-hsl-100: 257, 7%, 79%;
    --clr-neutral-hsl-200: 340, 100%, 99%;

    --clr-primary: hsl(var(--clr-primary-hsl));
    --clr-neutral-100: hsl(var(--clr-neutral-hsl-100));
    --clr-neutral-200: hsl(var(--clr-neutral-hsl-200));

--font-family-default: "Montserrat", sans-serif;
--font-family-neutral: "Barlow Condensed", sans-serif;

    --fs-100: 1rem;
    --fs-200: 1.125rem;
    --fs-300: 1.25rem;
    --fs-400: 1.5rem;
    --fs-500: 1.75rem;
    --fs-600: 2rem;
    --fs-700: 3rem;

    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

.grid-flow {
    display: grid;
}

body {
    font-family: var(--font-family-default);
    font-size: var(--fs-100);
    line-height: 1.5;
    margin: 1rem;

}

main {
    max-width: 100rem;
    display: grid;
    gap: 1rem;
}

@media (min-width: 768px) {
    main {
        margin-inline: auto;
        grid-template-columns: minmax(auto, 85rem) minmax(auto, 15rem);
        grid-template-areas: "head aside" "work aside" "education aside";
    }

    header {
        grid-area: head;
    }

    .work {
        grid-area: work;
    }

    .education {
        grid-area: education;
    }

    .side-bar {
        grid-area: aside;
    }
}

.about-me h1 {
    font-size: var(--fs-700);
    font-weight: var(--fw-700);
    font-family: var(--font-family-neutral);
}

.about-me p {
    font-size: var(--fs-100);
    line-height: 1.5;
}

.about-me p:first-of-type {
    margin-top: 1rem;
}

